body{
  padding-top: 60px;
  width: 97.5%;
}

#topLevelRow {
  height: 100%;
}

#filterJumbo{
  height: 92%;
}

.fullWidth{
  width: 100%;
}

.jumbotron{
  position: relative;
}

h3{
  position: absolute;
  top: 0%;
  left: 5%;
}

h5{
  position: absolute;
  left: 5%;
}

.progress{
  width: 25%;
  position: absolute;
  right: 5%;
  top: 25%;
}

.progress-bar-success{
  position: absolute;

}


.btn-success{
  position: absolute;
  left: 80%;
  top: 60%;
  width: 10%;
  height: 35%; 
}

.btn-info{
  position: absolute;
  left: 80%;
  top: 60%;
  width: 10%;
  height: 35%; 
}