<!-- <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CityRaise</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="homeStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<!-- OSM API -->

<link rel="stylesheet" href="https://openlayers.org/en/v5.0.0/css/ol.css" type="text/css">
<style>
  .map {
    height: 100%;
    width: 100%;
  }
</style>
<script src="https://openlayers.org/en/v5.0.0/build/ol.js" type="text/javascript"></script>

<!-- END OF OSM API -->
<!--
  </head>
  <body> -->


<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="map" class="map" >
        {{setCoordsList()}}
      </div>
    </div>
  </div>
</div>

<!--<u>-->
  <!--<li *ngFor="let coords of webService.coords_list | async">{{ addMarker(coords.coords[0], coords.coords[1])}}</li>-->
<!--</u>-->


<!--<div *ngFor="let coords of webService.coords_list | async">-->
  <!--&lt;!&ndash;<div (load)="addMarker(coords.coords[0], coords.coords[1]) ">&ndash;&gt;-->
  <!--{{ addMarker(coords.coords[0], coords.coords[1])}}-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

<!--<script>-->
<!--angular.forEach(webService.coordsList, function(value,key){-->
<!--console.log(value[0] + " and " + value[1]);-->
<!--addMarker(value[0],value[1]);-->
<!--});-->
<!--</script>-->

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<!-- <script src="map.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html> -->
