<!--<!DOCTYPE html>-->
<!--<html lang="en" dir="ltr">-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>CityRaise</title>-->
<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
<!--&lt;!&ndash;<link rel="stylesheet" type="text/css" href="homeStyle.css">&ndash;&gt;-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

<!-- OSM API -->

<link rel="stylesheet" href="https://openlayers.org/en/v5.0.0/css/ol.css" type="text/css">
<style>
  .map {
    height: 100%;
    width: 100%;
  }
</style>
<script src="https://openlayers.org/en/v5.0.0/build/ol.js" type="text/javascript"></script>

<!-- END OF OSM API -->


<app-nav></app-nav>
<div class="container-fluid row" id="topLevelRow" style="display: flex">

  <div class="col-md-4">
    <div class="jumbotron" id="filterJumbo">
      <p>Filters</p>
    </div>
  </div>

  <div class="col-md-8">
    <div class="row" *ngFor="let publicWork of webService.publicWorks_list | async">

      <div class="jumbotron fullWidth">
        <div class="container">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-secondary text-white"> {{'Όνομα: ' + publicWork.name }}</li>
            <li class="list-group-item bg-secondary text-white"> {{'Περιγραφή: ' + publicWork.description }}</li>
            <li class="list-group-item bg-secondary text-white"> {{'Ημερομηνία δημοσίευσης: ' +
              publicWork.date_published}}
            </li>
          </ul>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <div class="container">
            <button class="btn btn-success" type="submit">fund</button>
          </div>
        </div>
      </div>

    </div>



  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <!--<script type="text/javascript" src="client.js"></script>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</div>
<!--</body>-->
<!--</html>-->

